
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Restaurants</ion-title>
    
  </ion-toolbar>
  <ion-searchbar debounce="500" (ionChange)="filterItems($event)">
  </ion-searchbar>
</ion-header>



<ion-content  class="pb_80">
    <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
        <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Refreshing...">
        </ion-refresher-content>
        </ion-refresher>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" [routerLink]="['/restaurants/add']" [routerDirection]="'root'">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
        <ion-card *ngFor="let restaurant of filteredItems">
            <img [src]="restaurant.image">
            <ion-card-header>
              <ion-card-subtitle>{{restaurant.cuisine}}</ion-card-subtitle>
              <ion-card-title>{{restaurant.name}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
             <p>{{ restaurant.description}}</p>
            <ion-label>
                {{getDaysString(restaurant)}}
            </ion-label>
            <ion-label>
                <ion-badge  *ngIf="restaurant.daysOpen.includes('' + weekDay)" color="secondary">Open</ion-badge>
                <ion-badge *ngIf="!restaurant.daysOpen.includes('' + weekDay)" color="danger">Closed</ion-badge>
            </ion-label>
          </ion-card-content>
          <ion-footer>
              <ion-button slot="end" fill="clear" color="dark" (click)="showOptions(restaurant)">
                  <ion-icon slot="icon-only" name="menu"></ion-icon>
            </ion-button>
          </ion-footer>
        </ion-card>
        <ion-infinite-scroll (ionInfinite)="loadMoreItems($event)"
            [disabled]="finished">
            <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more data...">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>

      <!--
          <ion-thumbnail slot="start">
        <img [src]="restaurant.image">
      </ion-thumbnail>
      <ion-label text-wrap>
        <h4>{{restaurant.description}}</h4>
      </ion-label>
      <ion-button slot="end" fill="clear" color="dark" (click)="showOptions(prod)">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
      !-->
  </ion-list>
</ion-content>