<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Add restaurant</ion-title>
    </ion-toolbar>
  </ion-header>
  

<ion-content padding>
    <form #restaurantForm="ngForm" (ngSubmit)="addRestaurant()" >
        <ion-list>
            <ion-item>
                <ion-label position="floating">Name</ion-label>
                <ion-input name="name" required [(ngModel)]="newRest.name" #nameModel="ngModel"></ion-input>
                <ion-icon name="checkmark-circle" slot="end" color="success"
                 *ngIf="nameModel.dirty && nameModel.valid"></ion-icon>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Description</ion-label>
                <ion-input name="description" required [(ngModel)]="newRest.description" #descModel="ngModel"></ion-input>
                <ion-icon name="checkmark-circle" slot="end" color="success" *ngIf="descModel.dirty && descModel.valid"></ion-icon>
            </ion-item>

            <ion-item>
                  <ion-label position="floating">Cuisine</ion-label>
                  <ion-input name="cuisine" required [(ngModel)]="newRest.cuisine" #cuisineModel="ngModel"></ion-input>
                  <ion-icon name="checkmark-circle" slot="end" color="success"
                   *ngIf="cuisineModel.dirty && cuisineModel.valid"></ion-icon>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Phone</ion-label>
                <ion-input  type="tel" pattern="([0+]?\d{2}[ -]?)?\d{9}"  name="phone" required [(ngModel)]="newRest.phone" 
                #phoneModel="ngModel"></ion-input>
                <ion-icon name="checkmark-circle" slot="end" color="success"
                 *ngIf="phoneModel.dirty && phoneModel.valid"></ion-icon>
            </ion-item>

            <ion-item >
                <ion-label position="floating" >Days open</ion-label>              
                <ion-icon name="checkmark-circle" slot="end" color="success"
                *ngIf="daysModel.valid" class="alert alert-danger"></ion-icon>
            </ion-item>
            
            <ion-item-group fsOneChecked ngModelGroup="daysGroup" #daysModel="ngModelGroup">
                <ion-item  *ngFor="let day of days; let i = index" >
                  <ion-label>{{day}}</ion-label>
                  <ion-checkbox slot="end" id="checkDay{{i}}" name="days{{i}}" [(ngModel)]="daysOpen[i]">
                  </ion-checkbox>
                </ion-item>
            </ion-item-group>

          <ion-img [src]="newRest.image" *ngIf="newRest?.image"></ion-img>
            <ion-item>
              <ion-label position="inset">Photo</ion-label>
              <ion-button color="secondary" (click)="takePhoto()">
                <ion-icon name="camera" slot="start"></ion-icon>
                Camera
              </ion-button>
              <ion-button color="tertiary" (click)="pickFromGallery()">
                <ion-icon name="images" slot="start"></ion-icon>
                Gallery
              </ion-button>
            </ion-item> 
            <mgl-map [style]="'mapbox://styles/mapbox/streets-v11'" [zoom]="zoom"
            [center]="[newRest.lng, newRest.lat]">
             <mgl-marker [lngLat]="[newRest.lng, newRest?.lat]"></mgl-marker>
             <mgl-control mglGeocoder (result)="changePosition($event.result)">
             </mgl-control>
            </mgl-map>
            

        </ion-list>

        <ion-grid>
            <ion-row>
              <ion-col>
                <ion-button type="submit" color="primary" expand="block" [disabled]="restaurantForm.invalid || !newRest.image">
                  <ion-icon name="paper" slot="start"></ion-icon>
                  {{edit?'Edit Restaurant':'Add Restaurant '}}
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button color="danger" expand="block" fill="outline" [routerLink]="['/restaurants']" [routerDirection]="'root'">
                  <ion-icon name="undo" slot="start"></ion-icon>
                  Cancel
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>

    </form>
</ion-content>
