<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
      <ion-title>Profile</ion-title>
    </ion-toolbar>
  </ion-header>


<ion-content >

  <ion-card>
    <ion-card-header>
      <img [src]="user?.avatar" />
    </ion-card-header>
    <ion-card-content>
      <h1>{{user.name}}</h1>
      <h3 class="mt_20">{{user.email}}</h3>

      <ion-grid>
          <ion-row>
              <ion-col>
                <ion-button block padding color="primary" expand="block"
                (click)="editPassword()"> Edit Password</ion-button>
              </ion-col>
              <ion-col>
                  <ion-button block padding color="primary" expand="block"
                  (click)="editProfile()"> Edit Profile</ion-button>
              </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
                <ion-button block padding  color="primary" expand="block"
                (click)="editAvatar()"> Edit Avatar</ion-button>
            </ion-col>
          </ion-row>
      </ion-grid>
      

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
     <h2>Location</h2>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
          <mgl-map [style]="'mapbox://styles/mapbox/streets-v11'" [zoom]="zoom"
          [center]="[user.lng, user.lat]">
           <mgl-marker [lngLat]="[user.lng, user.lat]"></mgl-marker>
           </mgl-map>
      </ion-item>
      
    </ion-card-content>
  </ion-card>

  <!-- <ion-tabs (ionTabsDidChange)="tabsChange($event)">
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="info">
          <ion-icon name="information-circle"></ion-icon>
          <ion-label>Info</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="comments">
            <ion-icon name="chatboxes"></ion-icon>
            <ion-label>Comments</ion-label>
          </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs> -->

</ion-content>
