
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Change profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="changeAvatar()" #profileForm="ngForm">
    <ion-list>
     
      <ion-item>
        <ion-label position="inset">Avatar</ion-label>
        <ion-button color="secondary" (click)="takePhoto()">
          <ion-icon name="camera" slot="start"></ion-icon>
          Camera
        </ion-button>
        <ion-button color="tertiary" (click)="pickFromGallery()">
          <ion-icon name="images" slot="start"></ion-icon>
          Gallery
        </ion-button>
      </ion-item>
    </ion-list>
    <ion-img [src]="imagen" *ngIf="imagen"></ion-img>
    


    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" expand="block" [disabled]="profileForm.invalid">
            <ion-icon name="log-in" slot="start"></ion-icon>
            Change profile
          </ion-button>
        </ion-col>
        <ion-col>
            <ion-button color="danger" expand="block" fill="outline" (click)="cancel()" >
              <ion-icon name="undo" slot="start"  ></ion-icon>
              Cancel
            </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
