
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Change profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="changeProfile()" #profileForm="ngForm">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Email </ion-label>
        <ion-input type="email" name="email" required  [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Name </ion-label>
        <ion-input type="text" name="name" required [(ngModel)]="name"></ion-input>
      </ion-item>
    </ion-list>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" expand="block" [disabled]="profileForm.invalid">
            <ion-icon name="log-in" slot="start"></ion-icon>
            Change profile
          </ion-button>
        </ion-col>
        <ion-col>
            <ion-button color="danger" expand="block" fill="outline" (click)="cancel()" >
              <ion-icon name="undo" slot="start"  ></ion-icon>
              Cancel
            </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

