
<ion-content padding>
        <form #commentForm="ngForm" (ngSubmit)="send()">

                <ion-list>
                <ion-list-header>Your opinion</ion-list-header>
            
                <ion-item>
                        <ion-textarea name="text" required [(ngModel)]="text"  rows="6" cols="20" placeholder="Enter any notes here..."></ion-textarea>
                </ion-item>
                <ion-item>
                        <ion-range name="rating" min="1" max="5"  [(ngModel)]="rating" color="secondary" pin="true"  snaps="true">
                          <ion-label slot="start">1</ion-label>
                          <ion-label slot="end">5</ion-label>
                        </ion-range>
                </ion-item>
        </ion-list>
        <ion-grid>
                <ion-row>
                        <ion-col text-center>
                                <ion-button type="submit" color="primary" expand="block" [disabled]="commentForm.invalid">
                                        Send comment
                                </ion-button>
                        </ion-col>
                </ion-row>
        </ion-grid>
</form>
               
             
</ion-content>

            

