<ion-header>
    <ion-toolbar>
    <ion-buttons slot="start">
    <ion-back-button defaultHref="/restaurants"></ion-back-button>
    </ion-buttons>
    <ion-title>
    Restaurant details
    </ion-title>
    </ion-toolbar>
   </ion-header>
   <ion-tabs (ionTabsDidChange)="tabsChange()">
    <ion-tab-bar slot="bottom">

        <ion-tab-button tab="info">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>Information</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="map">
        <ion-icon name="compass"></ion-icon>
        <ion-label>Map</ion-label>
        </ion-tab-button>
        
        <ion-tab-button tab="comments">
        <ion-icon name="chatbubbles"></ion-icon>
        <ion-label>Comments</ion-label>
        </ion-tab-button>

    </ion-tab-bar>
   </ion-tabs>