
<ion-header>
    <ion-toolbar></ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card *ngIf="rest">
      <ion-img [src]="rest?.image"></ion-img>
      <ion-card-content>
        <ion-card-title>{{rest?.description}}</ion-card-title>
        <ion-card-subtitle>{{rest?.cuisine}}</ion-card-subtitle>
        <ion-button expand="block" color="danger" (click)="delete()">
          <ion-icon name="trash" slot="start"></ion-icon>
          <ion-label>Delete</ion-label>
        </ion-button>
      </ion-card-content>
      <ion-item lines="none">
        <ion-avatar slot="start">
          <img [src]="rest?.creator.avatar">
        </ion-avatar>
        <ion-label (click)="showRestaurantsUser()">{{rest?.creator.name}}</ion-label>
      </ion-item>
    </ion-card>
  </ion-content>