<ion-header>
  <ion-toolbar>
    <ion-title>restaurant-map</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="start">
    <ion-fab-button (click)="navigate()">
      <ion-icon name="navigate"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <mgl-map [style]="'mapbox://styles/mapbox/streets-v11'"
    [zoom]="[zoom]" [center]="[lng,lat]">
   <mgl-marker [lngLat]="[lng, lat]"></mgl-marker>
 </mgl-map>
</ion-content>
