
<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Change pass</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="changePass()" #passwordsForm="ngForm">
    <ion-list>
      <ion-item>
        <ion-label position="floating">New Password </ion-label>
        <ion-input type="email" name="email" required  [(ngModel)]="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Repeat password </ion-label>
        <ion-input type="password" name="password" required [(ngModel)]="password2"></ion-input>
      </ion-item>
    </ion-list>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" expand="block" [disabled]="passwordsForm.invalid">
            <ion-icon name="log-in" slot="start"></ion-icon>
            Change password
          </ion-button>
        </ion-col>
        <ion-col>
            <ion-button color="danger" expand="block" fill="outline" (click)="cancel()" >
              <ion-icon name="undo" slot="start"  ></ion-icon>
              Cancel
            </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

